/* Authentication screen */

.auth-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(160deg, #001e22 0%, #00363d 100%);
  color: #fff;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.title {
  font-family: 'Fredoka One', cursive; 
  font-size: 4rem;
  margin-bottom: 10px;
  color: #00ffcc; 
  text-shadow: 5px 5px 10px #000000; 
}

.subtitle {
  font-size: 1.2rem;
  color: #cfe8e7;
  margin-bottom: 40px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}


.input-container {
  position: relative;
  margin-bottom: 0.5rem;
}

.glow-input {
  width: 260px;
  padding: 12px 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
}

.glow-input:focus {
  border-color: #00ffcc;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
}

.clear-button {
  position: absolute;
  right: 5px;
  top: 24%;
  border: none;
  background: none;
  color: #00ffcc;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.clear-button:hover {
  color: #ff6663;
  transform: scale(1.1);
}


.success-text {
  color: #00bdff;
  font-size: 0.9rem;
}

.error-text {
  color: #ff6663;
  font-size: 0.9rem;
}

.checking-text {
  color: #bbb;
  font-size: 0.9rem;
}

.login-button {
  background-color: #ff6663;
  border: none;
  padding: 12px 40px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #00272B;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  margin-top: 0.8rem;
}

.login-button:hover {
  background-color: #ec504d;
  transform: scale(1.05);
}

.login-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}


.switch-text {
  margin-top: 1rem;
  color: #cfe8e7;
}

.link-button {
  background: none;
  border: none;
  color: #00ffcc;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: underline;
}

.link-button:hover {
  color: #66fff0;
}